{deps, [
  {registered_domain_libs, "",
    {git, "http://github.com/usrflo/registered-domain-libs.git", {branch, "master"}}, [raw]}
]}.

{port_specs, [{"priv/erl_effective_tld_nif.so", ["c_src/*.c"]}]}.

{port_env, [
    {"CFLAGS", "$CFLAGS -O3 -Wall -fPIC -I${REBAR_DEPS_DIR}/registered_domain_libs/C/"},
    {"DRV_LINK_TEMPLATE",
        "$CC $PORT_IN_FILES ${REBAR_DEPS_DIR}/registered_domain_libs/C/dkim-regdom.o $LDFLAGS $DRV_LDFLAGS -o $PORT_OUT_FILE"}
]}.

{pre_hooks, [
  {compile, "php ${REBAR_DEPS_DIR}/registered_domain_libs/generateEffectiveTLDs.php c > c_src/tld_string.c"},
  {compile, "gcc -O3 -Wall -fPIC -c ${REBAR_DEPS_DIR}/registered_domain_libs/C/dkim-regdom.c -o ${REBAR_DEPS_DIR}/registered_domain_libs/C/dkim-regdom.o"}
]}.